:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262323;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.banner .card {
    background-image:url("bck.jpg");
    background-size:cover;
    border: 2px solid #5f68d2;
    border-radius: 20px;
    box-shadow: 0px 3px 20px 2px #cf3715;
    display: flex;
    flex-direction: column;
}

a{
    color:#2d8ec7;
}

.banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 0 3vw 3vw;
}

.banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 3vw 3vw;
}

.banner .card .sub-heading button {
    background: none;
    border: none;
    border-radius: 5px;
    color: #35eea4;
    font-family: "Istok Web", sans-serif;
    font-size: 1rem;
    letter-spacing: 8px;
    margin-top: 2vh;
    padding: 10px;
    text-transform: uppercase;
    transition: box-shadow 0.3s linear 0.1s;
}

.banner .card .sub-heading button:hover {
    cursor: pointer;
    box-shadow: 0 3px 20px 0 #35eea4;
}

.row {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 5vh;

}
.row-1 {
    display: flex;
    flex-direction: column;
    margin-top: 0vh;

}
.row .heading{
    padding: 0 3vw 0vw;
    margin: 0;
    color: #35eea4;
    font-size: 2rem;
    /*letter-spacing: px;*/
}
.row .sub-heading{
    padding: 0 1.5vw 0vw;
    margin: 0;
    color: #35eea4;
    font-size: 1rem;
    /*letter-spacing: px;*/
}
.sub-heading-1{
     padding: 0 1.5vw 0vw;
    margin: 0;
    color: #35eea4;
    font-size: 1rem;

}

.row .my-image {
    margin-top:-40px;
    border: 2px solid #35eea4;
    border-radius: 15px;
    box-shadow: 0px 3px 20px 2px #cfba2c;
    width: 25vw;
}
.bullet{ 
    list-style-type: none;  
}
   .bullet> li::before {   
    content: '';   
    display: inline-block;   
    height: 40px;   
    width: 40px;    
    background-size: 10px;   
    background-image: url('star.gif'); 
    background-repeat: no-repeat;   
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}

@media only screen and (max-width: 725px) {
    .row {
        flex-direction: column;
    }
    .column {
    display: flex;
    flex-direction: column! important;
    margin-top: 0vh;
    /*align-items:left! important;*/

}
a{
    color:#2d8ec7;
    margin-left: 50px;
}

   .sub-heading{
    /*padding: 0 1.5vw 0vw! important;*/
    margin: 0;
    color: #35eea4;
    font-size: 1rem;
    }

    .sub-heading-1{
     padding: 0 0vw 0vw;
    margin: 0;
    color: #35eea4;
    font-size: 1rem;
}

   .row .sub-heading{
    padding: 0 0vw 0vw;
    margin-left: -6vh;
    color: #35eea4;
    font-size: 1rem;
    /*letter-spacing: px;*/
}

   .bullet{
    margin-left: -8vh; 
    list-style-type: none;  
}
   .bullet> li::before {   
    content: '';   
    display: inline-block;   
    height: 40px;   
    width: 40px;    
    background-size: 10px;   
    background-image: url('star.gif'); 
    background-repeat: no-repeat;   
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
}


    .row .image {
        order: -1;
        padding: 8vh 0vh 3vh;
        margin-left: -80px;
    }
    .row .my-image {
        width: 60vw;
        margin-left: 100px;
    }

}




.paragraph {
    color: #d97d7d;
    font-family: "Istok Web", sans-serif;
    padding: 2vw 5vw 3vw 3vw;
}
.column {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    margin-top: 0vh;

}

.icon-group {
    margin-top: 2vh;
}

.icon-group .icon {
    margin-right: 10px;
    width: 25px;
}